version: '2.1'
services:
    redis:
        restart: always
        image: 'redis:3.2.7'
        command: redis-server --requirepass ${REDIS_PASSWORD}

    postgres:
        image: 'postgres:9.6'
        restart: always
        ports:
          - "5432:5432"
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=postgres
        volumes:
            - ./pgdata:/var/lib/postgresql/data

    webserver:
        image: cityofsandiego/airflow:latest
        restart: always
        depends_on:
            - postgres
            - redis
        environment:
            - AIRFLOW_HOME=/usr/local/airflow
            - LOAD_EX=n
            - EXECUTOR=Celery
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=postgres
            - REDIS_PASSWORD=${REDIS_PASSWORD}
              # From environment specific .env
            - SD_ENV=${SD_ENV}
            - AIRFLOW_CONN_S3LOG="S3://${AWS_ACCESS_KEY_ID}:${AWS_SECRET_ACCESS_KEY}@poseidon-logs-${SD_ENV}"
            - AIRFLOW__EMAIL__EMAIL_BACKEND=trident.util.notifications.afsys_send_email
            - AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
            - 'AIRFLOW__SECRETS__BACKEND_KWARGS={"connections_prefix": "/airflow/connections/${SD_ENV}", "variables_prefix":"/airflow/variables/${SD_ENV}", "profile_name": "airflowssm"}'

        volumes:
            - ./poseidon:/usr/local/airflow/poseidon
            - ./data:/data
            - ~/.aws:/usr/local/airflow/.aws
        ports:
            - "1187:1187"
        command: webserver
        healthcheck:
            test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3

    flower:
        image: cityofsandiego/airflow:latest
        restart: always
        depends_on:
            - redis
        environment:
            - AIRFLOW_HOME=/usr/local/airflow
            - LOAD_EX=n
            - EXECUTOR=Celery
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=postgres
            - REDIS_PASSWORD=${REDIS_PASSWORD}
              # From environment specific .env
            - SD_ENV=${SD_ENV}
            - AIRFLOW_CONN_S3LOG="S3://${AWS_ACCESS_KEY_ID}:${AWS_SECRET_ACCESS_KEY}@poseidon-logs-${SD_ENV}"
            - AIRFLOW__EMAIL__EMAIL_BACKEND=trident.util.notifications.afsys_send_email
            - AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
            - 'AIRFLOW__SECRETS__BACKEND_KWARGS={"connections_prefix": "/airflow/connections/${SD_ENV}", "variables_prefix":"/airflow/variables/${SD_ENV}", "profile_name": "airflowssm"}'

        ports:
            - "5555:5555"
        command: flower

    scheduler:
        image: cityofsandiego/airflow:latest
        restart: always
        depends_on:
            - webserver
        volumes:
            - ./poseidon:/usr/local/airflow/poseidon
            - ./data:/data
            - ~/.aws:/usr/local/airflow/.aws
        environment:
            - AIRFLOW_HOME=/usr/local/airflow
            - LOAD_EX=n
            - EXECUTOR=Celery
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=postgres
            - REDIS_PASSWORD=${REDIS_PASSWORD}
              # From environment specific .env
            - SD_ENV=${SD_ENV}
            - AIRFLOW_CONN_S3LOG="S3://${AWS_ACCESS_KEY_ID}:${AWS_SECRET_ACCESS_KEY}@poseidon-logs-${SD_ENV}"
            - AIRFLOW__EMAIL__EMAIL_BACKEND=trident.util.notifications.afsys_send_email
            - AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
            - 'AIRFLOW__SECRETS__BACKEND_KWARGS={"connections_prefix": "/airflow/connections/${SD_ENV}", "variables_prefix":"/airflow/variables/${SD_ENV}", "profile_name": "airflowssm"}'

        command: scheduler

    worker:
        image: cityofsandiego/airflow:latest
        restart: always
        depends_on:
            - scheduler
        volumes:
            - ./poseidon:/usr/local/airflow/poseidon
            - ./data:/data
            - ~/.aws:/usr/local/airflow/.aws
        environment:
            - AIRFLOW_HOME=/usr/local/airflow
            - LOAD_EX=n
            - EXECUTOR=Celery
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=postgres
            - REDIS_PASSWORD=${REDIS_PASSWORD}
              # From environment specific .env
            - SD_ENV=${SD_ENV}
            - AIRFLOW_CONN_S3LOG="S3://${AWS_ACCESS_KEY_ID}:${AWS_SECRET_ACCESS_KEY}@poseidon-logs-${SD_ENV}"
            - AIRFLOW__EMAIL__EMAIL_BACKEND=trident.util.notifications.afsys_send_email
            - AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
            - 'AIRFLOW__SECRETS__BACKEND_KWARGS={"connections_prefix": "/airflow/connections/${SD_ENV}", "variables_prefix":"/airflow/variables/${SD_ENV}", "profile_name": "airflowssm"}'

        command: worker
